<mat-dialog-content [style.background]="getPokemonBgClass(data.evolutions[0].types)" class="h-100">
  <div
    #carousel
    class="flex flex-row w-full overflow-y-hidden cursor-pointer scrollbar-hidden h-full scroll-smooth snap-x"
    (wheel)="onWheel($event)"
    (scroll)="onScroll()"
  >
    @for (evo of data.evolutions; track $index) {
      <div class="shrink-0 w-full h-full flex flex-col items-center">
        <div class="flex items-center gap-2 mb-4 justify-between">
          <img [src]="evo.image" class="w-30 h-30" />
          <div>
            <div class="flex flex-col gap-3">
              @for (type of evo.types; track $index) {
                <div class="px-3 gap-4 bg-white rounded">
                  <p class="text-xl" [style.color]="getPokemonBgClass(evo.types)">
                    {{ type | titlecase }}
                  </p>
                </div>
              }
            </div>
            <p class="text-white text-3xl">{{ evo.name | titlecase }}</p>
          </div>
        </div>
        <div class="w-[80%]">
          @for (status of evo.stats; track $index) {
            <div class="flex gap-2 items-center justify-between">
              <p class="text-white">{{ status.name | titlecase }}:</p>
              <p class="text-white">{{ status.value }}</p>
            </div>
          }
        </div>
      </div>
    }
    <button
      class="hidden md:flex md:items-center md:justify-center md:absolute md:left-2 md:top-1/2 md:-translate-y-1/2 md:bg-white md:rounded-full md:w-8 md:h-8"
      (click)="prev()"
      [disabled]="currentIndex === 0"
    >
      <
    </button>

    <button
      class="hidden md:flex md:items-center md:justify-center md:absolute md:right-2 md:top-1/2 md:-translate-y-1/2 md:bg-white md:rounded-full md:w-8 md:h-8"
      (click)="next()"
      [disabled]="currentIndex === data.evolutions.length - 1"
    >
      >
    </button>
  </div>
</mat-dialog-content>
