/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-18px);
    }
  }

  .animate-float {
    animation: float 1.6s ease-in-out infinite;
  }
}
